form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}


.frodo-input {
    margin: 0.5rem;
    width: 50%;
}

.frodo-error,.frodo-link {
  text-align: center;
  font-weight: bold;
}

.frodo-error {
  color: #ff0000;
}

.frodo-link {
  color: 	#0000cd;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
